div.heat-map-container{
  margin-left: 10px;
  /*background-color: #ECF0F1;*/
  align-content: center;
}

div#cal-heatmap{
  position: relative;
  margin: 30px;
  max-height: 800px;
  /*min-height: 100%;*/
  min-width: 100%;
  /*max-width:350px; */
   overflow: auto;
}

div.heat-map-container div.calendar-btns{
  margin-left: 25%;
}

div.calendar-btns button#cal-heatmap-previous.btn{
  margin-left: 15px;
  background-color: #ECF0F1 !important;
  align-items: center;
}

div.calendar-btns button#cal-heatmap-next.btn{
  margin-left: 25px;
  background-color: #ECF0F1 !important;
  align-items: center;
}

div.heat-map-container div#cal-heatmap{
  /*margin: 20px;*/
  border-color: #ECF0F1;
  /*border-style: double;*/
  border-radius: 10px;
  padding-top: 20px;
  /*padding-left: 12.5%;*/
  /*overflow: auto;*/
  /*padding: 45px;*/
  background-color: #fdfaf3;
}
