#accordionExample.accordion div {
        #category-card.card {
            margin: 5px;
        }
        .card-header {
            background-color: #ECF0F1;
        }
        &.card-body {
            margin: 10px;
            /*background-color: blue;*/
        }
        &.form-group.form-check {
            margin-left: 20px;
        }
        &.btn.btn-primary {
            margin: 5px;
        }
    }